# Tratando dados de uma planilha CSV

In [129]:
import pandas as pd
import numpy
import openpyxl
import time
from datetime import datetime

In [130]:
#lendo arquivo

vendas_df = pd.read_csv("arquivos/vendas_sujo.csv", sep=';')

# Visualizando uma amostra dos dados
vendas_df.head(20)

,Produto,Categoria,Preço,Quantidade,Cliente,DataVenda,FormaPagamento
0,HD Externo,Informática,4837.52,NaN,NaN,2025-02-10,pix
1,Mouse,Eletrônicos,erro,5.0,João,NaN,cartao
2,Webcam,Informática,2835.95,5.0,Maria,2025-02-10,NaN
3,Notebook,Informática,799.94,3.0,Ana,2025-02-10,Cartão
4,Webcam,Móveis,3747.82,NaN,Beatriz,2025-05-20,Boleto
5,Cadeira Gamer,Móveis,4573.38,1.0,Ana,2025-01-05,Boleto
6,Fone de Ouvido,Eletrônicos,3325.49,3.0,Beatriz,2025-05-20,cartao
7,HD Externo,Acessórios,3291.28,3.0,José,2025-05-20,cartao
8,Tablet,Móveis,3556.69,NaN,Maria,2025-01-05,PIX
9,Notebook,Informática,3045.32,NaN,Carlos,15-04-2025,PIX
10,Smartphone,Eletrônicos,4223.95,NaN,Carlos,NaN,cartao
11,HD Externo,Móveis,3671.4,NaN,Ana,NaN,pix
12,Monitor,Eletrônicos,4534.24,2.0,João,2025-05-20,NaN
13,Webcam,Eletrônicos,3279.89,5.0,NaN,NaN,Cartão
14,Smartphone,Informática,3255.04,1.0,Ana,2025-01-05,pix
15,HD Externo,Móveis,2297.77,1.0,João,2025-05-20,NaN
16,Webcam,Eletrônicos,3460.17,3.0,Beatriz,2025-05-20,PIX
17,Webcam,Móveis,1555.06,3.0,José,15-04-2025,cartao
18,Mouse,Acessórios,106.52,2.0,José,2025-05-20,pix
19,Fone de Ouvido,Informática,3586.32,1.0,Ana,2025-02-10,Boleto

In [131]:
vendas_df = vendas_df.rename(columns={'Preço': 'Preco'})
vendas_df.head()

,Produto,Categoria,Preco,Quantidade,Cliente,DataVenda,FormaPagamento
0,HD Externo,Informática,4837.52,NaN,NaN,2025-02-10,pix
1,Mouse,Eletrônicos,erro,5.0,João,NaN,cartao
2,Webcam,Informática,2835.95,5.0,Maria,2025-02-10,NaN
3,Notebook,Informática,799.94,3.0,Ana,2025-02-10,Cartão
4,Webcam,Móveis,3747.82,NaN,Beatriz,2025-05-20,Boleto

In [132]:
# contagem de campos NaN
vendas_df.count()

Produto           50
Categoria         50
Preco             49
Quantidade        34
Cliente           45
DataVenda         40
FormaPagamento    38
dtype: int64

In [133]:
# Resumo do df
vendas_df.describe()

       Quantidade
count   34.000000
mean     2.617647
std      1.348730
min      1.000000
25%      2.000000
50%      2.500000
75%      3.000000
max      5.000000

In [134]:
# Ver o tipo de dados por coluna
vendas_df.dtypes

Produto            object
Categoria          object
Preco              object
Quantidade        float64
Cliente            object
DataVenda          object
FormaPagamento     object
dtype: object

In [135]:
# Convertendo colunas para tipos númericos
vendas_df['Preco'] = pd.to_numeric(vendas_df['Preco'], errors='coerce')
vendas_df['Quantidade'] = pd.to_numeric(vendas_df['Quantidade'], errors='coerce')

# Converter coluna DataVenda para dateTime()
vendas_df['DataVenda'] = pd.to_datetime(vendas_df['DataVenda'], errors='coerce', dayfirst=True)
vendas_df.dtypes

Produto                   object
Categoria                 object
Preco                    float64
Quantidade               float64
Cliente                   object
DataVenda         datetime64[ns]
FormaPagamento            object
dtype: object

In [136]:
vendas_df.head(15)

,Produto,Categoria,Preco,Quantidade,Cliente,DataVenda,FormaPagamento
0,HD Externo,Informática,4837.52,NaN,NaN,2025-10-02,pix
1,Mouse,Eletrônicos,NaN,5.0,João,NaT,cartao
2,Webcam,Informática,2835.95,5.0,Maria,2025-10-02,NaN
3,Notebook,Informática,799.94,3.0,Ana,2025-10-02,Cartão
4,Webcam,Móveis,3747.82,NaN,Beatriz,NaT,Boleto
5,Cadeira Gamer,Móveis,4573.38,1.0,Ana,2025-05-01,Boleto
6,Fone de Ouvido,Eletrônicos,3325.49,3.0,Beatriz,NaT,cartao
7,HD Externo,Acessórios,3291.28,3.0,José,NaT,cartao
8,Tablet,Móveis,3556.69,NaN,Maria,2025-05-01,PIX
9,Notebook,Informática,3045.32,NaN,Carlos,NaT,PIX
10,Smartphone,Eletrônicos,4223.95,NaN,Carlos,NaT,cartao
11,HD Externo,Móveis,3671.40,NaN,Ana,NaT,pix
12,Monitor,Eletrônicos,4534.24,2.0,João,NaT,NaN
13,Webcam,Eletrônicos,3279.89,5.0,NaN,NaT,Cartão
14,Smartphone,Informática,3255.04,1.0,Ana,2025-05-01,pix

In [137]:
# Convertendo colunas para int
vendas_df['Quantidade'] = vendas_df['Quantidade'].astype('Int64')
# Ver o tipo de dados por coluna
vendas_df.dtypes

Produto                   object
Categoria                 object
Preco                    float64
Quantidade                 Int64
Cliente                   object
DataVenda         datetime64[ns]
FormaPagamento            object
dtype: object

In [138]:
# Verificando quantas celulas retornaram NAN por coluna
vendas_df['DataVenda'].isna().sum()

np.int64(35)

In [139]:
# Use o ffill para preencher os valores NaN com o último valor não-nulo da coluna
vendas_df['DataVenda'] = vendas_df['DataVenda'].ffill(inplace=False)

vendas_df['Preco'] = vendas_df['Preco'].ffill(inplace=False)

vendas_df['Quantidade'] = vendas_df['Quantidade'].ffill(inplace=False) 

vendas_df['Cliente'] = vendas_df['Cliente'].ffill(inplace=False)
 
vendas_df['FormaPagamento'] = vendas_df['FormaPagamento'].ffill(inplace=False).str.lower()

# vendas_df['DataVenda'].isna().sum()
vendas_df.head(20)

,Produto,Categoria,Preco,Quantidade,Cliente,DataVenda,FormaPagamento
0,HD Externo,Informática,4837.52,<NA>,NaN,2025-10-02,pix
1,Mouse,Eletrônicos,4837.52,5,João,2025-10-02,cartao
2,Webcam,Informática,2835.95,5,Maria,2025-10-02,cartao
3,Notebook,Informática,799.94,3,Ana,2025-10-02,cartão
4,Webcam,Móveis,3747.82,3,Beatriz,2025-10-02,boleto
5,Cadeira Gamer,Móveis,4573.38,1,Ana,2025-05-01,boleto
6,Fone de Ouvido,Eletrônicos,3325.49,3,Beatriz,2025-05-01,cartao
7,HD Externo,Acessórios,3291.28,3,José,2025-05-01,cartao
8,Tablet,Móveis,3556.69,3,Maria,2025-05-01,pix
9,Notebook,Informática,3045.32,3,Carlos,2025-05-01,pix
10,Smartphone,Eletrônicos,4223.95,3,Carlos,2025-05-01,cartao
11,HD Externo,Móveis,3671.40,3,Ana,2025-05-01,pix
12,Monitor,Eletrônicos,4534.24,2,João,2025-05-01,pix
13,Webcam,Eletrônicos,3279.89,5,João,2025-05-01,cartão
14,Smartphone,Informática,3255.04,1,Ana,2025-05-01,pix
15,HD Externo,Móveis,2297.77,1,João,2025-05-01,pix
16,Webcam,Eletrônicos,3460.17,3,Beatriz,2025-05-01,pix
17,Webcam,Móveis,1555.06,3,José,2025-05-01,cartao
18,Mouse,Acessórios,106.52,2,José,2025-05-01,pix
19,Fone de Ouvido,Informática,3586.32,1,Ana,2025-10-02,boleto

In [140]:
# contagem de campos NaN
vendas_df['Cliente'].isna().sum()

np.int64(1)

In [141]:
# Removendo linha que possue NaN
vendas_df = vendas_df.dropna(axis=0, how='any')

In [142]:
# contagem de campos NaN
vendas_df['Cliente'].isna().sum()

np.int64(0)

In [143]:
# contagem de campos NaN
vendas_df.count()

Produto           49
Categoria         49
Preco             49
Quantidade        49
Cliente           49
DataVenda         49
FormaPagamento    49
dtype: int64

In [144]:
# Normalizar colunas do df
vendas_df.columns = [c.upper() for c in vendas_df.columns]

data_atual = str(datetime.now()).replace(":", "-")
indice_ponto = data_atual.index(".")
data_real = data_atual[:indice_ponto]
vendas_df['DATAVENDA'] = vendas_df['DATAVENDA'].dt.strftime("%d/%m/%Y")


# Gerar nova planilha com os dados tratados
vendas_df.to_excel(f"VENDAS_SMARTTECH.xlsx", index=False)